.body-modal-connection{
    text-align: center
}

.img-modal-connection{
    height:200px; 
    width:200px; 
    margin-bottom:20px;
}

.footer-modal-connection{
    justify-content: center; 
    align-items: center;
}