@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap";

body{
    background: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}

p{
    margin: 0px;
    padding: 0px;
    color: #707070;
}

input{
    border-radius: 8px;
    border-width: 0.5px;
    border-style: solid;
    border-color: #e3e3e3;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
}

select{
    border-radius: 8px;
    border-width: 0.5px;
    border-style: solid;
    border-color: #e3e3e3;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
}
